  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.8rem;
    background-color: #EFF3F4;
    background-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;
  }

section{
    /* border: 1px solid blue; */
    margin: 1rem 5rem ;
}

.overview{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid salmon; */
    /* width: 80%; */
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    /* padding: 1rem 2rem; */
}
.main-container{

    margin: 0.5rem 2rem;
}
.overview-container{
    /* flex-grow: 1; */
    width: 350px;
    height: 200px;
    border: 2px solid #EFF3F4;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #FCFCFC;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 4rem;
}
.amount{
    font-size: 2.1rem;
    margin: 0.5rem 0;
    color: red;
}
.desc{
color: gray;
}

#overview-heading{
margin-bottom: 0.5rem;
font-size: 2rem;
font-weight: bold;
}

#budget-heading{
    margin: 1.3rem 0;
    font-size: 2rem;
    font-weight: bold;
}
.budget-section{
    width: 40%;
    padding: 12px;
    border-radius: 1rem;
    background-color: #EFF3F4;
}
.budget-box{
background-color: #fff;
border-radius: 1rem;
padding: 15px;
}
.budget-box > h3{
    margin-top: 1rem;
}
#budget-limit{
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 80%;
}


#budget-btn{
    height: 4rem;
    width: 50%;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #fff;
    background-color: #7911F7;
    border: none;
    outline: none;
    margin-bottom: 1rem;
}
#budget-btn:hover{
    background-color: #7911f7d3;
}

input, select{
    height: 4.5rem;
    border-radius: 0.6rem;
    padding-left: 1.5rem;
    background-color: #EFF3F4;
    background-color: #E4E9EC;
    background-color: #EFF3F4;
    transition: 0.1s all;
    border: none;
    font-size: 1.6rem;
}
input:focus, select:focus{
    outline: 2px solid #7911F7;
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.budget-details{
    width: 50%;
}
#expense-heading{
margin-top: 1rem;
font-size: 2rem;
font-weight: bold;
}

#expense-btn{
    margin: 1rem 0;
    height: 4rem;
    width: 30%;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    cursor: pointer;
    color: #fff;
    background-color: #7911F7;
    border: none;
    outline: none;
}
#expense-btn:hover{
    background-color: #7911f7d3;
}




table{
    width: 100%;
	border-collapse: collapse; 
    border-radius: 10px;
    border: 2px solid #EFF3F4;
}
th{
    text-align: left;
    color: #9b9fa0;
    background-color: #EFF3F4;
    height: 6rem;
    padding-left: 2rem;
}

th:nth-child(1){
width: 15%;
}
th:nth-child(2){
    width: 25%;
    }
    th:nth-child(3){
        width: 35%;
        }

        th:nth-child(4){
            width: 10%;
            }

tbody tr{
    border: 2px solid #EFF3F4;
    height: 5rem;
}
tbody tr td{ 
    padding-left: 2rem;
}
.icons{
    padding-right: 1rem;
    cursor: pointer;
    font-size: 2rem;
}
sup{
    color: red;
    font-size: 3rem;
    font-weight: bold;
}
.icons{
    font-size: 2.5rem;
}
.edit{
    color: forestgreen;
    
}
.delete{
    color: red;
}

.search-export-div{
    padding: 0.5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    /* border: 1px solid black; */
    float: right;
    flex-wrap: wrap;
    gap: 2rem;
}
.search{
    width: 70%;
    float: right;
    right: 0;
    
    
}
#search-field{
    width: 100%;
    background-color: #FCFCFC;
    outline: 1px solid #7911F7;
    border-radius: 4px;
}

#export-btn-a-tag{
    text-decoration: none;
    width: 15%;
    border-radius: 0.5rem;
    padding: 1.2rem 1.2rem;
    cursor: pointer;
    color: #fff;
    background-color: #7911F7;
    border: none;
    outline: none;
}
#export-btn-a-tag:hover{
    background-color: #7911f7d3;
}

/* media queries */
@media screen and (max-width: 1250px ) and (min-width: 767px) {

   
   
    
.overview{
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.main-container{
    margin: 0rem 0rem;
}

.overview-container{
    width: 300px;
    height: 220px;

} 



.budget-section{
    margin: 1.5rem auto;
    width: 80%;
    padding: 12px;
    border-radius: 1rem;
    background-color: #EFF3F4;
}



.budget-details{
    margin: auto;
    width: 80%;
}

#expense-btn{
    width: 40%;
}


table{
    width: 100%;
	border-collapse: collapse; 
    border-radius: 10px;
    border: none;
    table-layout: fixed;
    font-size: 1.2rem;
}

th{
    text-align: left;
    color: #9b9fa0;
    background-color: #EFF3F4;
    height: 5rem;
    padding-left: 2rem;
}

th:nth-child(1){
width: 20%;
}
th:nth-child(2){
    width: 25%;
    }
    th:nth-child(3){
        width: 15%;
        }

        th:nth-child(4){
            width: 10%;
            }
            th:nth-child(5){
                width: 30%;
                }

tbody tr{
    border: 2px solid #EFF3F4;
    height: 5rem;
}
tbody tr td{ 
    padding-left: 2rem;
}


.icons{
    font-size: 2rem;
}

}


/* media queries */
@media screen and (max-width: 768px ) {

    body{
        font-size: 1.5rem;
    }
   
    
.overview{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.main-container{
    margin: 0rem 0rem;
}

.overview-container{
    /* flex-grow: 1; */
    width: 300px;
    height: 220px;
}

/* #overview-heading{
margin-bottom: 1rem;
font-size: 2rem;
font-weight: bold;
}

#budget-heading{
    margin: 1.3rem 0;
    font-size: 2rem;
    font-weight: bold;
} */


.budget-section{
    margin: 1.5rem auto;
    width: 80%;
    padding: 12px;
    border-radius: 1rem;
    background-color: #EFF3F4;
}



.budget-details{
    margin: auto;
    width: 80%;
}

#expense-btn{
    width: 40%;
}

input, select{
    font-size: 1.5rem;
}

table{
    width: 100%;
	border-collapse: collapse; 
    border-radius: 10px;
    border: none;
    table-layout: fixed;
    font-size: 1.2rem;
}

th{
    text-align: left;
    color: #9b9fa0;
    background-color: #EFF3F4;
    height: 5rem;
    padding-left: 2rem;
}

th:nth-child(1){
width: 20%;
}
th:nth-child(2){
    width: 25%;
    }
    th:nth-child(3){
        width: 15%;
        }

        th:nth-child(4){
            width: 10%;
            }
            th:nth-child(5){
                width: 30%;
                }

tbody tr{
    border: 2px solid #EFF3F4;
    height: 5rem;
}
tbody tr td{ 
    padding-left: 2rem;
}




}





/* media queries */
@media screen and (max-width: 640px) {

    body{
        font-size: 1.5rem;
        /* background-color: gray; */
    }

    section{
        /* border: 1px solid blue; */
        margin: 1rem 5rem ;
    }
    
.overview{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.main-container{
    margin: 0rem 0rem;
}

.overview-container{
    /* flex-grow: 1; */
    width: 300px;
    height: 220px;
}

input, select{
    font-size: inherit;
}


.budget-section{
    margin: 1.5rem auto;
    border: 1px solid red;
    width: 100%;
    padding: 12px;
    border-radius: 1rem;
    background-color: #EFF3F4;
}



.budget-details{
    margin: auto;
    width: 100%;
}
#budget-btn{
    width: 50%;
}
#expense-btn{
    width: 80%;
}


/* table{
    width: 100%;
	border-collapse: collapse; 
    border-radius: 10px;
    border: none;
    table-layout: fixed;
    font-size: 1rem;
}

th{
    text-align: left;
    color: #9b9fa0;
    background-color: #EFF3F4;
    height: 5rem;
    padding-left: 2rem;
}

th:nth-child(1){
width: 25%;
}
th:nth-child(2){
    width: 20%;
    }
    th:nth-child(3){
        width: 15%;
        }

        th:nth-child(4){
            width: 10%;
            }
            th:nth-child(5){
                width: 25%;
                }

tbody tr{
    border: 2px solid #EFF3F4;
    height: 7rem;
}
tbody tr td{ 
    padding-left: 2rem;
} */

 table thead{
    display: none;
 }
 table, tbody, tr, td{
    font-size: 1.7rem;
    display: block;
    width: 100%;
}
tbody td{
     padding: 1rem 0;
     border-collapse: none;
}
tbody td:not(:last-child){
    border-bottom: 2px solid #EFF3F4;
}
    
tbody tr{
    border: none;
    border: 2px solid #EFF3F4;
    height: auto;
    margin-bottom: 2rem;
}

tbody tr td{
    text-align: right;
    padding-left: 50%;
    padding-right: 15px;
    position: relative;
}

tbody tr td:before{
    position: absolute;
    content: attr(data-label);
    left: 0;
    width: 50%;
    text-align: left;
    padding-left: 15px;
    font-weight: bold;
}


.icons{
    font-size: 1.5rem;
}

}

